* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  padding-bottom: 1em;
  background-color: #fdfdfd;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: rgba(254, 153, 0, 1);
  text-decoration: none;
}

body.home header {
  background-color: #000;
  font-family: 'Fjalla One', sans-serif;
  display: table;
  background: url('skyline.jpg');
  opacity: .9;
  filter: alpha(opacity=90);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh;
}

nav {
  line-height: 1.5;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.1em;
  display: block;
  /*background: rgba(255,255,255,.8);*/
  margin: 20px;
  text-align: right;
  position: fixed;
  right: 0%;
  z-index: 999;
}
 h3 {
  background: rgba(255,255,255, .8);
  padding: 6px;
 }

nav ul {
  list-style: none;
  background: rgba(255,255,255, .8);
  padding-right: 5px;
}

#menu {
  cursor: pointer;
}

#menu span:hover {
  color: rgba(254, 153, 0, .4);
}

.nametitle a:link,
.nametitle a:visited {
  color: #fff;
  text-decoration: none;
}

.nav span,
.nav i.fa {
  color: #000;
}

.menuicon {
  padding-right: 5px;
  font-weight: 900;
}

.fa-minus-square-o.menuicon {
  display: none;
}

.nametitle {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}

.myname {
  font-size: 4em;
  text-transform: uppercase;
}

.mytitle {
  font-size: 1.5em;
}

.contactlinks {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
}

.contactlinks span {
  margin: 4px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.contactlinks span a {
  padding: 10px;
}

.contactlinks span:hover {
  background-color: rgba(254, 153, 0, .4);
}

.scrolldown {
  position: absolute;
  bottom: 50px;
  left: 49.5%;
  font-size: 2em;
  -webkit-animation: arrowbounce 2s infinite;
          animation: arrowbounce 2s infinite;
}

.scrolldown i {
  color: #fff;
}

@-webkit-keyframes arrowbounce {
  0%   {-webkit-transform: translateY(0px);transform: translateY(0px);}
  50%  {-webkit-transform: translateY(15px);transform: translateY(15px);}
  100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

#about {
  padding: 80px 50px;
}

#about div {
  display: inline-block;
}

.mypic {
  width: 30%;
}

.mypic img {
  width: 100%;
}

.myinfo {
  width: 70%;
  vertical-align: top;
  padding: 0 5%;
}

.myinfo p {
  line-height: 1.2;
  padding-bottom: 5px;
}

.contact-icons {
  padding: 5%;
  font-size: 4em;
}

.contact-icons.linkedin i:hover {
  color: #0077B5;
}

.contact-icons.twitter i:hover {
  color: #00aced;
}

.icons-container {
  width: 100%;
  text-align: center;
}

.project-info {
  display: none;
}

#projects {
  padding-top: 80px;
}

.images > div {
  text-align: center;
  width: 50%;
  padding: 3%;
  display: inline-block;
}

.images img {
  width: 100%;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
}

.appinfo {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
  max-width: 700px;
  width: 100%;
  height: auto;
  padding: 5%;
  background: #fff;
}

.appx {
  cursor: pointer;
  font-weight: 900;
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  background: #000;
  padding: 3px 8px 4px;
  border-radius: 50%;
}

.project {
  position: relative;
}

.viewmore {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8%;
  cursor: pointer;
}

.viewmore i {
  color: #dcdcdc;
  z-index: -1;
}

@media all and (max-width: 698px) {
  .images > div {
    width: 90%;
    padding: 5%;
    display: block;
    margin: 0 auto;
  }

  #about {
    padding: 5%;
  }

  #about div {
    display: block;
  }

  .mypic {
    width: 100%;
    padding-bottom: 15px;
  }

  .myinfo {
    width: 100%;
    vertical-align: top;
    padding: 0 5%;
  }

  .appinfo {
    width: 90%;
  }
}
